<section class="index-sec">
    <div class="inner">
        <h2 class="custom">Train and deploy Reinforcement Learning agents faster with SheepRL.</h2>
        <div class="feature-code inner">
            <div class="tab-container">
                <div class="features">
                    <div class="feature-wrapper active" data-index="0">
                        <div class="feature">
                            <div class="title">Easy-to-use framework</div>
                            <div class="description">Run reinforcement learning algorithms with a single simple instruction.</div>
                        </div>
                    </div>
                    <div class="feature-wrapper" data-index="1">
                        <div class="feature">
                            <div class="title">Accelerated with Lightning Fabric</div>
                            <div class="description">Thanks to Fabric, we provide a simple, scalable and efficient framework.</div>
                        </div>
                    </div>
                    <div class="feature-wrapper" data-index="2">
                        <div class="feature">
                            <div class="title">Distributed Training</div>
                            <div class="description">Run your agents on multiple gpus.</div>
                        </div>
                    </div>
                    <div class="feature-wrapper" data-index="3">
                        <div class="feature">
                            <div class="title">Use different algorithms</div>
                            <div class="description">You can use one of the already available algorithms, or create your own.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="code-section">
                <div class="code-container">
                    <div class="code-block">
                        <span>
                            <code data-index="0" class="active">
                                <span class="token-wrapper">
                                    <span class="token bright">sheeprl ppo --env_id=CartPole-v1</span>
                                </span>
                            </code>

                            <code data-index="1">
                                <span class="token-wrapper">
                                    <span class="token bright">lightning run model sheeprl.py</span> <span class="token">ppo</span>
                                </span>
                            </code>

                            <code data-index="2">
                                <span class="token-wrapper">
                                    <span class="token">lightning run model</span> 
                                    <span class="token bright">--devices=2 --accelerator=gpu</span> 
                                    <span class="token">sheeprl.py ppo</span>
                                </span>
                            </code>

                            <code data-index="3">
                                <span class="token-wrapper">
                                    <span class="token">lightning run model sheeprl.py</span>
                                    <span class="token bright">sac --env_id=LunarLanderContinuous-v2 --total_steps=2e6 --capture_video</span> 
                                </span>
                            </code>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tensorboard yellow-bg big-padding-top">
    <div class="inner">
        <h2 class="custom" style="margin-top: 20px;">Monitor your experiments</h2>
        <div class="inner">
            <div class="video-container shadow">
                <video autoplay muted loop>
                    <source src="/assets/videos/tensorboard_original_rec.webm" type="video/webm" />
                </video>
            </div>
        </div>
    </div>
</section>

<section class="capture-video big-padding-top">
    <div class="inner">
        <h2 class="custom" style="margin-top: 20px;">Visualize your trained agent behaviour</h2>
        <div class="feature-code inner">
            <div class="tab-container">
                <div class="features">
                    <div class="feature-wrapper active" data-index="4">
                        <div class="feature">
                            <div class="video-container">
                                <video autoplay muted loop>
                                    <source src="/assets/videos/pong.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="feature-wrapper" data-index="5">
                        <div class="feature">
                            <div class="gif-container">
                                <img src="/assets/images/breakout.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="code-section">
                <div class="code-container">
                    <div class="code-block">
                        <span>
                            <code data-index="4" class="active">
                                <span class="token-wrapper">
                                    <span class="token">lightning run model --devices="2,3" --accelerator=gpu sheeprl.py ppo_atari</span><br />
                                    <span class="token bright">--env_id=PongNoFrameskip-v4</span> <span class="token">--anneal_lr --anneal_ent_coef --anneal_clip_coef</span><br />
                                    <span class="token">--ent_coef=0.01 --clip_coef=0.1 --rollout_steps=128 --lr=2.5e-4 --update_epochs=3</span><br />
                                    <span class="token">--num_envs=8 --per_rank_batch_size=128</span> <span class="token bright">--capture_video</span>
                                </span>
                            </code>

                            <code data-index="5">
                                <span class="token-wrapper">
                                    <span class="token">lightning run model --devices="2,3" --accelerator=gpu sheeprl.py ppo_atari</span><br />
                                    <span class="token bright">--env_id=BreakoutNoFrameskip-v4</span> <span class="token">--anneal_lr --anneal_ent_coef --anneal_clip_coef</span><br />
                                    <span class="token">--ent_coef=0.01 --clip_coef=0.1 --rollout_steps=128 --lr=2.5e-4 --update_epochs=3</span><br />
                                    <span class="token">--num_envs=8 --per_rank_batch_size=128</span> <span class="token bright">--capture_video</span>
                                </span>
                            </code>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>