Train and deploy Reinforcement Learning agents faster with SheepRL.

<!-- Include the clipboard.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Two-Column Layout Example</title>
    <style>
      .container {
        display: flex;
        align-items: center;
      }
      .left-column {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
      }
      .right-column {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="left-column" style="text-align: right">
        Quick training with just one bash command
      </div>
      <div class="right-column">
        <div style="position: relative;">
          <pre style="width: 500px;">
            <code id="my-code-snippet" class="language-bash">
sheep_rl ppo --env CartPole-v0
            </code>
          </pre>
        </div>
      </div>
    </div>
  </body>
</html>
