<section class="index-sec">
    <h2 class="custom">Train and deploy Reinforcement Learning agents faster with SheepRL.</h2>
    <div class="feature-code inner">
        <div class="tab-container">
            <div class="features">
                <div class="feature-wrapper active" data-index="0">
                    <div class="feature">
                        <div class="title">Easy-to-use framework</div>
                        <div class="description">Run reinforcement learning algorithms with a single simple instruction.</div>
                    </div>
                </div>
                <div class="feature-wrapper" data-index="1">
                    <div class="feature">
                        <div class="title">Accelerated with Lightning Fabric</div>
                        <div class="description">Thanks to Fabric, we provide a simple, scalable and efficient framework.</div>
                    </div>
                </div>
                <div class="feature-wrapper" data-index="2">
                    <div class="feature">
                        <div class="title">Distributed Training</div>
                        <div class="description">Run your agents on multiple gpus.</div>
                    </div>
                </div>
                <div class="feature-wrapper" data-index="3">
                    <div class="feature">
                        <div class="title">Use different algorithms</div>
                        <div class="description">You can use one of the already available algorithms, or create your own.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="code-section">
            <div class="code-container">
                <div class="code-block">
                    <span>
                        <code data-index="0" class="active">
                            <span class="token-wrapper">
                                <span class="token bright">sheeprl ppo --env_id=CartPole-v1</span>
                            </span>
                        </code>

                        <code data-index="1">
                            <span class="token-wrapper">
                                <span class="token bright">lightning run model sheeprl.py</span> <span class="token">ppo</span>
                            </span>
                        </code>

                        <code data-index="2">
                            <span class="token-wrapper">
                                <span class="token">lightning run model</span> 
                                <span class="token bright">--devices=2 --accelerator=gpu</span> 
                                <span class="token">sheeprl.py ppo</span>
                            </span>
                        </code>

                        <code data-index="3">
                            <span class="token-wrapper">
                                <span class="token">lightning run model sheeprl.py</span>
                                <span class="token bright">sac --env_id=LunarLanderContinuous-v2 --total_steps=2e6 --capture_video</span> 
                            </span>
                        </code>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tensorboard">   
    <h2 class="custom" style="margin-top: 20px;">Monitor your experiments</h2>
    <div class="inner">
        <div class="video-container shadow">
            <video autoplay muted loop>
                <source src="/assets/videos/tensorboard_original_rec.webm" type="video/webm" />
            </video>
        </div>
    </div>
</section>

<section class="tensorboard">   
    <h2 class="custom" style="margin-top: 20px;">Check your agents</h2>
    <div class="inner">
        <div class="gif-container">
            <div class="video-container">
                <video autoplay muted loop>
                    <source src="/assets/videos/pong.mp4" type="video/mp4">
                </video>
            </div>
            <div class="gif-container">
                <img src="/assets/images/breakout.gif" />
            </div>
        </div>
        
    </div>
</section>